{% extends "layout.html"%}

{% block content %}
	<BODY>

	   <p class="lead"><strong>
            Seq-gen
        </strong></p>

	    <p> Seq-Gen est un programme qui simule l'évolution des séquences de nucléotides ou d'acides aminés en utilisant des modèles de substitution courants.
        </p><br>

            <p> Ce programme a initialement été conçu pour être utilisé en ligne de commande. L'objectif de ce site est de démocratiser
            son utilisation en facilitant son usage</p><br>

	    <p> Pour plus d'informations sur Seq-gen, consulter: <br><a href="http://tree.bio.ed.ac.uk/software/seqgen/">http://tree.bio.ed.ac.uk/software/seqgen</a><br>
		<a href="https://snoweye.github.io/phyclust/document/Seq-Gen.v.1.3.2/Seq-Gen.Manual.html">https://snoweye.github.io/phyclust/document/Seq-Gen.v.1.3.2/Seq-Gen.Manual.html</a>
	    </p><br>

            <p> Publication originale:<br> <a href="https://academic.oup.com/bioinformatics/article/13/3/235/423110">Rambaut A, Grassly NC, Comput Appl Biosci, 1997</a>
	    </p><br>

{% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</BODY>
</HTML>

