{% extends "layout.html"%}

{% block content %}

<BODY>
<h4>Sélectionnez vos paramètres</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
     Model:
        <select class="form-select" aria-label="Default select example">
        <option selected>Choose...</option>
            <optgroup label="Nucléotide" ></optgroup>
                <option value="1">HKY</option>
                <option value="2">F84</option>
                <option value="3">GTR</option>
            </optgroup>
            <optgroup label="Acides aminés"></optgroup>
                <option value="4">JTT</option>
                <option value="5">WAG</option>
                <option value="6">PAM</option>
                <option value="7">BLOSUM</option>
                <option value="8">MTREV</option>
                <option value="9">CPREV45</option>
                <option value="10">MTART</option>
                <option value="11">LG</option>
                <option value="12">GENERAL</option>
            </optgroup>
        </select>
    </div>
    <div class="col-sm">
        <div class="input-group">
        <span class="input-group-addon"> -l:</span>  <input class="form-control-sm" type="text" name="length" placeholder="integer >0">
        </div>
    </div>
    <div class="col-sm">
      <label for="i_range" class="form-label">-i</label>
        <input type="range" class="form-range sm" value = "0.00" min="0.0" max="1.0" step="0.01" id="i_range" name="i_range" size="5" oninput="this.nextElementSibling.value = this.value">
        <output>0.00</output>
    </div>
      <div class="col-sm">
        <div class="input-group">
        <span class="input-group-addon"> -n:</span>  <input class="form-control-sm" type="text" name="n_simulation" id="n_simulation" placeholder="integer" value ="1">
        </div>
      </div>
      <div class="col-sm">
        <div class="input-group">
        <span class="input-group-addon"> -p:</span>  <input class="form-control-sm" type="text" name="partitions" id="partitions" placeholder="integer" value ="1">
        </div>
      </div>
  </div><!--  --><br>
    <div class="row">
        <div class="col-sm">
            <form>
                <label class="radio-inline">
                    <input type="radio" name="-ds" id="-d" >-d
                </label>
                <label class="radio-inline">
                    <input type="radio" name="-ds" id="-s">-s
                </label>
                <label class="radio-inline">
                    <input type="radio" name="-ds" id="-ds_default" checked>default
                </label>
                <div class="input-group">
                    <input class="form-control-sm" type="text" name="ancestry" name="ancestry" placeholder="decimal #">
                </div>
            </form>
        </div>
        <div class="col-sm">
            <div class="input-group">
                <span class="input-group-addon"> -k:</span>  <input class="form-control-sm" type="text" name="ancestry" name="ancestry" placeholder="integer >0">
            </div>
         </div>
        <div class="col">
        <div class="container-fluid">
            <form class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="inputKey">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="inputValue">
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="inputValue">
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>

    </div>


  </div> <!--  close container-->

        <br>

<h4>Choisissez vos arbres (PHYLIP)</h4>

<form method=post action="/tree-load" enctype=multipart/form-data>
    <input type=file name=file required="True">
    <input type=submit id="loadTree" value="Charger Arbre">
</form>

<br><br>

  <form method=post action="/params-load" enctype=multipart/form-data>
      <span class="input-group-addon"> ou Entrez un fichier de paramètres</span>  <input type=file id="fileSelect" name=file required="True">
      <input type=submit id="loadParams" value="Charger paramètres" size="60p">
  </form>

<br><br><br><br>

<form action="/validerParams" method="post">
    <button class="btn btn-success" type="submit" value="submit" name="validate" id ="validate">Validate parameters</button>
</form>

<form action="/runprog" method="post">
    <button type="submit" class="btn btn-primary my-1"name="run" id ="run">Execute Seq-gen</button>
</form>

</BODY>
{% endblock %}

