{% extends "layout.html"%}

{% block content %}

	<BODY>
	    <p> Start your analysis here
	    </p><br>

            <h4>Choisissez vos arbres (PHYLIP)</h4>
	            <form method=post action="/tree-load" enctype=multipart/form-data>
                    <input type=file name=file required="True">
                    <input type=submit id="loadTree" value="Charger Arbre">
                </form><br>

            <h4>Entrez vos paramètres</h4> <br>

        <div class="container">
  <div class="row">
    <div class="col-sm">
      Model:
<select class="form-select" aria-label="Default select example">
  <option selected>Choose...</option>
    <optgroup label="Nucléotide" </optgroup>
        <option value="1">HKY</option>
        <option value="2">F84</option>
        <option value="3">GTR</option>
    </optgroup>
    <optgroup label="Acides aminés"</optgroup>
        <option value="4">JTT</option>
        <option value="5">WAG</option>
        <option value="6">PAM</option>
        <option value="7">BLOSUM</option>
        <option value="8">MTREV</option>
        <option value="9">CPREV45</option>
        <option value="10">MTART</option>
        <option value="11">LG</option>
        <option value="12">GENERAL</option>
    </optgroup>
</select>
    </div>

    <div class="col-sm">
        <div class="input-group">
        <span class="input-group-addon"> -l:</span>  <input class="form-control-sm" type="text" name="length" placeholder="integer >0">

        </div>
    </div>
   <div class="col">
      <label for="customRange2" class="form-label">-i</label>
        <input type="range" class="form-range sm" min="0.0" max="1.0" step="0.01" id="customRange2" size="5">
    </div>
     <div class="col-xs-5">
      Column
    </div>
      <div class="col xs-5">
      Column
    </div>
  </div>
  </div>
</div>


        <br><br><br>

        <h4>Entrez un fichier de paramètres</h4>

	            <form method=post action="/params-load" enctype=multipart/form-data>
                    <input type=file id="fileSelect" name=file required="True">
                    <input type=submit id="loadParams" value="Charger paramètres">
                </form>
          <!--   <form method="POST" action="/paramsField">
                    Paramètres : <input type="text" name="param_string">
                    <input type="submit" value="Charger Params">
                </form> -->
<br>
                <form action="/validerParams" method="post">
                    <button type="submit" value="submit">Valider Paramètres</button>
                </form>

                <form action="/runprog" method="post">
                    <button type="submit" class="btn btn-primary my-1">Submit</button>
                </form>



<br><br><br>
            --------------------------------pas rapport------------------------------------
<br>
            --------------------------------pas rapport------------------------------------



            <legend>R&eacute;sultat</legend>
                <p id="result"></p> <!-- Le résultat sera placé ici -->
            </fieldset><p>

 <table border=1>
      <thead>
        <tr><th>Params</th><th>Bouton</th>&nbsp;</th></tr>
      </thead>
            {% for item in params %}
      <tr>
        <!-- form qui refere a la route "/delete"-->
        <form method="POST" action="/delete">
          <input type="hidden" name="code" value="{{item}}">
          <td width="20%" align="center"><strong>{{ item}}</strong></td>
          <td width="20%" align="center"><input type="submit" value="supprimer"></td>
        </form>
      </tr>
    {% endfor %}
  </table>

{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</BODY>
</HTML>

