{% extends "layout.html"%}

{% block content %}

<BODY>
<h4>Sélectionnez vos paramètres</h4>

<div class="container-fluid">
<form enctype='multipart/form-data' name='params' action='/paramsField' method='POST' >
    <div>
    <TABLE cellpadding = "30" cellspacing = "30" style="float: left">
        <tbody>
            <tr><th ><Font size=+1> General options: </Font> </th></tr>
            <tr>
                <td>
                    <div class="form-group">
                    Model:
                    <select class="form-select" id="model" name ="model" style="width=50%" required="True">
                        <option selected></option>
                            <optgroup label="Nucléotide" >
                                <option value="HKY">HKY</option>
                                <option value="F84">F84</option>
                                <option value="GTR">GTR</option>
                            </optgroup>
                            <optgroup label="Acides aminés">
                                <option value="JTT">JTT</option>
                                <option value="WAG">WAG</option>
                                <option value="PAM">PAM</option>
                                <option value="BLOSUM">BLOSUM</option>
                                <option value="MTREV">MTREV</option>
                                <option value="CPREV45">CPREV45</option>
                                <option value="MTART">MTART</option>
                                <option value="LG">LG</option>
                                <option value="GENERAL">GENERAL</option>
                            </optgroup>
                    </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -l:</span>  <input class="form-control-sm" type=”text” name="length" id="length" placeholder="integer >0" width="50%">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -n:</span>  <input class="form-control-sm" type=”text” name="datasets" id="datasets" placeholder="integer >0" width="50%">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -p:</span>  <input class="form-control-sm" type=”text” name="partitions" id="partitions" placeholder="integer >0" width="50%">
                    </div>
                </td>
            <tr>
                <td>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose:</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#" aria-selected="true">Default</a>
                                    <a class="dropdown-item" href="#">-d</a>
                                    <a class="dropdown-item" href="#">-s</a>
                        </div>
                                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="decimal #">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -k:</span>  <input class="form-control-sm" type=”text” name="k_ancestral" id="k_ancestral" placeholder="integer >0" width="50%">
                    </div>
                </td>
            </tr>
            <tr><th colspan="2"><Font size=+1>Substitution model options: </Font> </th></tr>
            <tr>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -a:</span>  <input class="form-control-sm" type=”text” name="shape" id="shape" placeholder="real >0" width="50%">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="g_range" class="form-label">-g:</label>
                            <input type="range" class="form-range sm" value = "2" min="2" max="32" step="1" id="g_range" name="g_range" size="5" oninput="this.nextElementSibling.value = this.value">
                            <output>2</output>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="i_range" class="form-label">-i:</label>
                            <input type="range" class="form-range sm" value = "0.00" min="0.0" max="0.99" step="0.01" id="i_range" name="i_range" size="5" oninput="this.nextElementSibling.value = this.value">
                            <output>0.00</output>
                    </div>
                </td>
            </tr>
            <tr><th colspan="2"><Font size=+1> Nucleotide model specific options: </Font> </th></tr>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -c:</span>  <input class="form-control-sm"  type=”text” name="codon_het1" id="codon_het1" placeholder="decimal" style="width: 80px;">
                        <input class="form-control-sm" type=”text” name="codon_het2" id="codon_het2" placeholder="decimal" style="width: 80px;">
                        <input class="form-control-sm" type=”text” name="codon_het3" id="codon_het3" placeholder="decimal" style="width: 80px;">
                    </div>

                </td>
                                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -t:</span>  <input class="form-control-sm" type=”text” name="transition" id="transition" placeholder="decimal >0" width="50%">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -r:</span>  <input class="form-control-sm"  type=”text” name="nt_rate1" id="nt_rate1" placeholder="A-C" style="width: 45px;">
                        <input class="form-control-sm" type=”text” name="nt_rate2" id="nt_rate2" placeholder="A-G" style="width: 45px;">
                        <input class="form-control-sm" type=”text” name="nt_rate3" id="nt_rate3" placeholder="A-T" style="width: 45px;">
                        <input class="form-control-sm" type=”text” name="nt_rate4" id="nt_rate4" placeholder="C-G" style="width: 45px;">
                        <input class="form-control-sm" type=”text” name="nt_rate5" id="nt_rate5" placeholder="C-T" style="width: 45px;">
                        <input class="form-control-sm" type=”text” name="nt_rate6" id="nt_rate6" placeholder="G-T" style="width: 45px;">

                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -f:</span>  <input class="form-control-sm"  type=”text” name="nt_freq1" id="nt_freq1" placeholder="A" style="width: 60px;">
                        <input class="form-control-sm" type=”text” name="nt_freq2" id="nt_freq2" placeholder="C" style="width: 60px;">
                        <input class="form-control-sm" type=”text” name="nt_freq3" id="nt_freq3" placeholder="G" style="width: 60px;">
                        <input class="form-control-sm" type=”text” name="nt_freq4" id="nt_freq4" placeholder="T" style="width: 60px;">
                    </div>
                </td>
            </tr>
            <tr><th colspan="2">Amino Acid model specific options (order ARNDCQEGHILKMFPSTWYV):</th></tr>
            <tr>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -r:</span>  <input class="form-control-sm" type=”text” name="raa" id="raa" placeholder="190 valeurs!!!">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -f:</span>  <input class="form-control-sm" type=”text” name="faa" id="faa" placeholder="20 valeurs...si fe equal">
                    </div>
                </td>
            <tr><th colspan="2">Miscellaneous options:</th></tr>
            <tr>
                <td>
                    <div class="form-group">
                        <span class="input-group-addon"> -z:</span>  <input class="form-control-sm" type="text" name="seed" id="seed" placeholder="integer">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                    Output format (-o):
                    <select class="form-select" id="output" name ="output">
                            <option value="p" selected>op (PHY)</option>
                            <option value="r">or (relaxed)</option>
                            <option value="n">on (Nexus)</option>
                            <option value="f">of (fasta)</option>
                    </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">Write(-w):
                        <select class="form-select" id="write" name ="write">
                            <option value="w" selected>none</option>
                            <option value="wa">wa</option>
                            <option value="on">wr</option>
                        </select>
                        </div>
                </td>
            </tr>
            <td>
                <div class="form-group">
                    <span class="input-group-addon"> -x:</span>  <input class="form-control-sm" type=”text” name="addon" id="addon" placeholder="x is a name file to add!!!">
                </div>
            </td>
            <tr><th colspan="2">Output file name:</th><tr>
                <td>
                    <div class="form-group">
                        <input class="form-control-sm" type="text" name="outputFile" id="outputFile" placeholder="enter file name">
                    </div>
                </td>
            <tr>
                <td>
                    <button class="btn btn-info" type="submit" value="submit" name="validate" id ="validate">Validate parameters</button>
                </td>
            </tr>
</tbody>
</TABLE>
    </div>
</form>
    <form enctype='multipart/form-data' name='dataEntry' action="/submitTree" method="post">
    <td><p align='left'><textarea rows='6' name='treeEntry' style='width:60%; font-family:Courier new' ></textarea></p>
    </td>
    <tr>
        <td align='left'>
            <table class='blue' width='60%' border=0>
                <tr>
                    <td align='center'> File
                        <input type='radio' name='optionTree' value='file' onClick='inputTypeChanged(0)'>
                        <input type='radio' name='optionTree' value='pasted' onClick='inputTypeChanged(1)' checked>Pasted
                        <input name='userfile' type='file' size=20 disabled>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-secondary"name="tree" id ="tree">Submit Tree </button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</form>

<br><br>

{% if isValid %}
<form action="/runprog" method="post">
    <button type="submit" class="btn btn-primary my-1"name="run" id ="run">Execute Seq-gen</button>
</form>
{% else %}
{% endif %}




</BODY>


<br><br>
-------------
<script>
		function inputTypeChanged(val){
			var o = document.dataEntry
   	 		if(val == 0){
    			o.userfile.disabled=false;
    			o.treeEntry.disabled=true;
    		}
    		else{
    			o.userfile.disabled=true;
     			o.treeEntry.disabled=false;
    		}
		}

</script>

{% endblock %}


